.main{
    background-image: linear-gradient(purple, orange);
    min-height: 80vh;
    h1{
        text-align: center;
        font-family: $fuente-titulo;
        padding: 10px;
    }
    .seccion-uno{
        border: solid $azul 3px;
        max-width: (600px/2);
        @extend .flex-center;
        @include fondo-destacado(pink, center);

    }
    .seccion-dos{
        width: 70%;
        @include fondo-destacado (#5c5cfb, justify);
    }
}


button{
    @extend .boton;
}

@mixin fondo-destacado ($color-fondo) {
    background-color: $color-fondo;
    color: $azul;
    text-align: center;
    padding: 20px;
    border: solid $azul 3px;
    width: 300px;
    margin: 10px;
}

.articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .seccion-uno{
        transform: scale(0.7) skew(5deg);
        transition: all 5s;
        // Mixin
        @include fondo-destacado(pink);
    }
    .seccion-dos{
        @include fondo-destacado (#5c5cfb);
        button {
            transform: translate (0, 30px);
        }

    }
    .seccion-dos{
        @include fondo-destacado (#5c5cfb);
        h3{
            animation-name: latido;
            animation-duration: 5s;
            // Cuantas veces quiero que se repita
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
    }
}