// Paleta de Colores
$magenta:#C01A7D;
$blanco: #fdfffc;
$turquesa: #41EAD4;
$rojo: #ff0022;
$azul: #011627;


//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

$fuente-titulo: "Anta", sans-serif;

